<?xml version="1.0" encoding="utf-8" ?>
<appSettings> 

  <!--CountryURL -  Utilizada para el Consumo de Servicios-->
  <add key="COUNTRYURL" value="PE" />

  <!--Instancia - Utilizada para determinar el entorno en donde se esta ejecutando la aplicacion-->
  <add key="INSTANCIA" value="PROD" />

  <!-- Country - Determina el pais en donde se esta desplegando la aplicacion -->
  <add key="COUNTRY" value="PE" />

</appSettings>