<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEstacionamientoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51090/EstacionamientoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstacionamientoService"
                contract="wsEstacionamientoService.IEstacionamientoService"
                name="BasicHttpBinding_IEstacionamientoService" />
        </client>
    </system.serviceModel>
</configuration>